@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;500;600;700;800;900&display=swap');

@font-face {
        font-family: "Japanese";
        src: url(./font/Japanese.ttf);
}

* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}

:root {
        --primaryColor: #EBD5B8;
        --seconderyColor: #CC402E;
        --commonColor: white;
        --fontHead: 60px;
}

body {
        font-family: 'League Spartan',
                sans-serif;
}

li {
        list-style: none;
}

a {
        text-decoration: none;
        text-transform: uppercase;
        color: var(--seconderyColor);
}

.container {
        max-width: 1100px;
        margin: auto;
        padding: 40px 0;
}

hr {
        color: #EBD5B8;
        background: #EBD5B8;
        height: 2px;
        border: none;
}

/* Header Start */
header {
        margin: auto;
        background-color: var(--primaryColor);
        color: var(--seconderyColor);
}

h1 {
        padding-bottom: 20px;
}

/* Navbar Start */

nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
}

.logo {
        text-transform: uppercase;
        width: 30px;
        color: var(--seconderyColor);
        font-family: "Japanese";
}

.navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
}

.nav__items {
        display: flex;
        width: 550px;
        justify-content: space-around;
}

.list__item {
        font-size: 20px;
        font-weight: 700;
}

.social__media {
        display: flex;
        width: 100px;
        justify-content: space-around;
        padding-left: 20px;
}

.social__media .icon {
        font-size: 29px;
        color: var(--seconderyColor);
}

.button {
        padding-left: 35px;
}

.button button {
        border: none;
        /* padding: 10px 20px; */
        padding-top: 5px;
        font-size: 20px;
        height: 42px;
        border-radius: 20px;
        background-color: var(--seconderyColor);
        font-family: 'League Spartan';
        font-weight: 700;
        color: var(--primaryColor);
        width: 110px;
}

.bar {
        width: 30px;
        height: 5px;
        background-color: var(--seconderyColor);
        margin-top: 3px;
}

.bars {
        display: none;
}



/* Navbar End */

/* Hero Section Start */
.hero__section {
        max-height: 578px;
        padding-top: 70px;
}

.top__section {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 40px;
        text-transform: uppercase;
        font-family: "Japanese";
}

.top__section img {
        max-width: 400px;
}

.bottom__text {
        width: 450px;
        text-align: center;
        margin: auto;
        padding: 20px;
}

.bottom__text p {
        padding-right: 60px;
}

.border {
        background-color: var(--seconderyColor);
        width: 70px;
        height: 2px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: 190px;
}

/* Header End */

/* Story Section Start */
.story {
        background-color: var(--seconderyColor);
        color: var(--commonColor);
}

.story__details {
        display: flex;
        align-items: center;
        justify-content: space-between;
}

.story__details img {
        width: 350px;
}

.story__title {
        font-size: var(--fontHead);
        font-family: "Japanese";
        font-weight: 500
}

.story p {
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
}

/* Story Section End */

/* Team Section Start */
.team {
        background-color: var(--primaryColor);
        color: var(--seconderyColor);
}

.team__title {
        font-size: var(--fontHead);
        text-transform: uppercase;
        font-family: "Japanese";
        font-weight: 500;
}

.team__membar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
}

.team__membar img {
        width: 300px;
        padding: 10px;
}

/* Team Section End */

.details {
        background-color: var(--seconderyColor);
        color: #EBD5B8;
        padding: 30px;
}

.all__details {
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
}

.details__item {
        padding: 40px 0;
}

/* Team Section End */

/* Faq Design Start */
.faq {
        background-color: #E4C59C;
        color: var(--seconderyColor);
}


.accordion {
        padding: 10px;
        margin: auto;
}

.accordion .accordion-item {
        /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
        padding: 15px 0;
        margin: 0 30px;
        border-radius: 10px;
}

.accordion .accordion-item button[aria-expanded=true] {
        /*   border-bottom: 1px solid #03b5d2; */
}

.number {
        font-size: 35px;
        padding: 20px;
}

.accordion h2 {
        position: relative;
        display: block;
        text-align: left;
        width: 90%;
        color: var(--seconderyColor);
        font-size: 25px;
        font-weight: 400;
        font-family: "Japanese";
        margin: auto;
        padding: 20px;

}

.accordion h2:hover,
.accordion h2:focus {
        cursor: pointer;
        /* color: #03b5d2; */
}

.accordion h2:hover::after,
.accordion h2:focus::after {
        cursor: pointer;
        color: var(--primaryColor);
        /* border: 1px solid #03b5d2; */
        background-color: var(--seconderyColor);
}

.accordion h2 .accordion-title {
        padding: 1em 1.5em 1em 0;
}

.accordion h2 .icon {
        display: inline-block;
        position: absolute;
        top: 2px;
        right: 0;
        width: 22px;
        height: 22px;
        border: 1px solid;
        border-radius: 22px;
        margin: 30px;
}

.faq-content {
        padding: 80px 0px;
}

.accordion h2 .icon::before {
        display: block;
        position: absolute;
        content: "";
        top: 9px;
        left: 5px;
        width: 10px;
        height: 2px;
        background: currentColor;
}

.accordion h2 .icon::after {
        display: block;
        position: absolute;
        content: "";
        top: 5px;
        left: 9px;
        width: 2px;
        height: 10px;
        background: currentColor;
}

.accordion h2[aria-expanded=true] {
        color: var(--primaryColor);
        background-color: var(--seconderyColor);
        padding: 30px 30px 0px 30px;
}

.accordion h2[aria-expanded=true] .icon::after {
        width: 0;
}

.accordion h2[aria-expanded=true]+.accordion-content {
        opacity: 1;
        max-height: 5000px;
        transition: all 200ms linear;
        will-change: opacity, max-height;
}

.accordion .accordion-content {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 200ms linear, max-height 200ms linear;
        will-change: opacity, max-height;
        background-color: var(--seconderyColor);
        color: var(--primaryColor);
        padding: 30px;
        width: 90%;
        margin: auto;
}

.accordion .accordion-content p {
        font-size: 20px;
        font-weight: 300;
        margin: 0px;
        margin-top: 10px;
        padding-left: 30px;
}

/* Faq Design End */

/* Footer Start */

.footer {
        height: 130px;
        background-color: var(--seconderyColor);
}



/* Mobile Responsiveness */
@media only screen and (max-width: 1000px) {
        .container {
                width: 90%;
        }
}

@media only screen and (max-width: 950px) {
        .top__section img {
                max-width: 300px;
        }

        .top__section {
                font-size: 30px;
        }

}

@media only screen and (max-width: 800px) {
        .top__section img {
                max-width: 200px;
        }

        .top__section {
                font-size: 20px;
        }

        .bars {
                display: block;
                cursor: pointer;
                z-index: 1000;
        }

        .navbar {
                display: none;
        }

        .active__navbar {
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 0;
                background-color: var(--commonColor);
        }

        .active__navbar .nav__items {
                display: flex;
                flex-direction: column;
                text-align: center;
        }

        .list__item {
                padding: 10px;
        }

        .social__media {
                display: none;
        }

        .button {
                display: none;
        }

}